<h1 class="text-3xl">Precios del servicio</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Tempor anim minim Lorem reprehenderit. Labore nostrud adipisicing veniam
    minim adipisicing ex aute culpa nostrud velit elit. Laboris cupidatat in
    sunt nulla laborum Lorem officia amet labore consectetur reprehenderit
    ullamco. Dolore sunt sint dolore minim excepteur labore ipsum deserunt velit
    dolor sint. Eiusmod anim ad sint aute cupidatat enim consequat ullamco eu.
    Ipsum id sit exercitation sunt aliqua cupidatat et. Duis ut elit qui sit
    officia ut velit fugiat tempor minim id. Enim est Lorem minim amet sint
    laboris. Anim nisi eiusmod nostrud laborum sint laboris exercitation mollit
    in nulla anim sint. Elit est deserunt eiusmod enim aliqua laborum esse ad
    commodo do dolor. Cupidatat consequat ea laboris dolor anim.
  </p>
</section>
