<h1 class="text-3xl">Sobre la aplicación</h1>
<hr class="my-2" />

<section>
  <p class="mb-4">
    Ea ut cillum ex do. Excepteur irure eu quis cillum ex irure aliqua magna
    amet voluptate quis reprehenderit ipsum. Consequat dolor adipisicing nulla
    dolore laborum excepteur in magna qui. Laboris minim elit ipsum fugiat esse
    cillum. Est eu incididunt sint est. Pariatur consequat eiusmod incididunt
    dolore nostrud nostrud adipisicing velit et adipisicing sit occaecat in.
    Proident fugiat magna labore aliquip consequat incididunt ipsum est quis.
    Pariatur id mollit magna aliquip veniam cupidatat aute nisi non. Consectetur
    sunt qui mollit labore irure laborum et eiusmod amet labore deserunt ut
    laboris velit. Sunt commodo ea est qui duis. Laboris adipisicing ea sunt
    duis pariatur ad.
  </p>
</section>
